@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Hanalei Fill', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    height: 100vh;
    width: 100vw;
}

.btn-container {
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);

}

button {
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 4rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 2px 5px black;
    background: linear-gradient(to top, #696969, #575757);
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
    background: linear-gradient(to bottom, #696969, #575757);
}

button:focus {
    outline: none;
    transform: translateY(3px);
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 6px 6px 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.95);
}